.main__body__messages(data-id="#{message.id}")
  .main__body__user-name
    = message.user.name
  .main__body__posted-time
    = message.created_at.to_s(:datetime)
  .main__body__content
    .content__text
      = message.content if message.content.present?
    .content__image
      = image_tag message.image if message.image.present?
